body
{
color:white;
font-family:roboto;
font-style:italic;
background-color:#0d0d0d;
}

div#main
{
width:100%;
height:100vh;
}

div#navbar
{
display:flex;
align-items:center;
justify-content:space-between;
margin:0.5% 1% 0.5% 1%;
}

h1#nav
{
font-family:nero;
font-style:normal;
font-size:160%;
margin:0 0 0 0;
}

button
{
color:black;
background-color:white;
border-radius:5px;
font-family:roboto;
font-weight:bold;
font-style:italic;
font-size:80%;
padding:0.5% 3% 0.5% 3%;
}

#mstitle
{
height:90vh;
display:flex;
align-items:center;
justify-content:center;
}

h1#maintitle,h2#subtitle
{
text-align:center;
font-family:times new roman;
}

h1#maintitle
{
font-size:7vw;
margin:0 0 0 0;
}

h2#subtitle
{
font-size:3.5vw;
margin-top:2vh;
}

div#content
{
margin:0 1% 0 1%;
}

h3
{
font-size:130%;
padding:1%;
margin:8% 0 4% 0;
background-image:linear-gradient(to right,silver,transparent);
color:black;
}

ul
{
list-style-type:square;
}

dd
{
margin:2% 0 2% 4%;
}

p,ul,dl,a,#skills
{
font-size:100%;
}

p,dl,a,#skills
{
margin-left:3%;
}

dt
{
display:list-item;
list-style-type:square;
font-weight:bold;
}

.edu1
{
list-style-type:none;
}

.edu2,a
{
font-weight:bold;
}

.edu1,.edu3
{
font-weight:normal;
}

#skills
{
display:flex;
flex-wrap:wrap;
}

#skills>div
{
width:25%;
border:2px solid white;
text-align:center;
padding:1% 1% 1% 1%;
margin:1% 2% 1% 0;
}

a
{
text-decoration:none;
color:black;
background-color:white;
border-radius:5px;
padding:0.5% 3% 0.5% 3%;
}

span
{
font-weight:bold;
}

h4
{
font-size:90%;
margin:0 0 0 0;
padding:1% 0 1% 0;
text-align:center;
}

@font-face
{
font-family:nero;
src:url('../res/nero.otf');
}
